.sidebar
	width: 250px
	background: $color-primary
	display: flex
	flex-direction: column

	.sidebar-header
		padding: $pad-md

	.sidebar-body
		flex-grow: 1
		a
			text-decoration:none
		ul
			padding: 0px
			li
				list-style: none

	.sidebar-footer
		padding: $pad-md
