<?php

return [

  // General
  'KEY' => '7PeWDIaAGlf9OuS4yJfHjivZsFG5Nv19',
  'DEBUG' => true,

  // Database
  'DB_HOST' => 'localhost',
  'DB_DATABASE' => 'libreclass',
  'DB_USERNAME' => 'root',
  'DB_PASSWORD' => 'asdf',

  // Email
  'EMAIL_DRIVER' => 'smtp',
  'EMAIL_HOST' => 'mail.libreclass.com',
  'EMAIL_PORT' => 25,
  'EMAIL_FROMADD' => 'contato@libreclass.com',
  'EMAIL_FROMNAM' => 'LibreClass',
  'EMAIL_ENC' => 'tls',
  'EMAIL_UNAME' => 'contato@libreclass.com',
  'EMAIL_PASS' => 'SECRET',

];
