/node_modules
/public/hot
/public/storage
/public/assets
/storage/*.key
/storage/*
/app/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.php
yarn-error.log
composer.lock
