// Primary system colors
$color-primary			= #3597FD
$color-primary-dark	= #4c6a96

$color-secundary		= #4FC3F7
// $color-dark-primary		= #01579b
// $color-light-primary	= #e1f5fe
$color-grey				= #9e9e9e
$color-dark 			= #212121
$color-light			= #fafafa
$color-red				= #f4511e
$color-white			= #FFFFFF
$color-black			= #3a3a3a
$color-orange			= #ff6600
$color-pink       = #FF94FF
$color-yellow     = #FFFF40
$color-light-green 		= #D5FAE4
$color-grey--dark		= darken($color-grey, 20)
$color-grey--light		= lighten($color-grey, 30)
$color-muted			= $color-grey

// Measures
$size-xs = 5px
$size-sm = 15px
$size-df = 20px
$size-md = 30px
$size-lg = 45px
$size-xl = 60px
