.card
	border: 1px solid $color-grey--light
	background: $color-white

	&.card--radius
		border-radius: 2px

		.card__header
			border-radius: 4px 4px 0 0

	&.card--shadow
		box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.2);

	.card__header
		padding: 10px 15px
		// border-bottom: 1px solid $color-grey--light

	.card__body
		padding: 10px 15px
		font-size: 14px

	.card__footer
		font-size: 11px
		border-top: 1px solid $color-grey--light
		padding: 7px 15px
