//class colors

.color-primary
	color: $color-primary
.bg-color-primary
	background: $color-primary

.color-secundary
	color: $color-secundary
.bg-color-secundary
	background: $color-secundary

.color-dark-primary
	color: $color-dark-primary
.bg-color-dark-primary
	background: $color-dark-primary

.color-light-primary
	color: $color-light-primary
.bg-color-light-primary
	background: $color-light-primary

.color-grey
	color: $color-grey
.bg-color-grey
	background: $color-grey

.color-grey-two
	color: $color-grey--two
.bg-color-grey-two
	background: $color-grey--two

.color-dark
	color: $color-dark
.bg-dark
	background: $color-dark

.color-light
	color: $color-light
.bg-color-light
	background: $color-light

.color-red
	color: $color-red
.bg-color-red
	background: $color-red

.color-white
	color: $color-white
.bg-color-white
	background: $color-white

.color-black
	color: $color-black
.bg-color-black
	background: $color-black

.color-grey--dark
	color: $color-grey--dark
.bg-color-grey--dark
	background: $color-grey--dark

.color-grey--light
	color: $color-grey--light
.bg-color-grey--light
	background: $color-grey--light

.color-orange
	color: $color-orange
.bg-orange
	background: $color-orange
.color-pink
	color: $color-pink
.bg-pink
	background: $color-pink
.color-yellow
	color: $color-yellow
.bg-yellow
	background: $color-yellow
.color-muted
	color: $color-muted
.bg-color-muted
	background: $color-muted
