/*Default width icons material-icons*/
/*By Geidson Benício Coelho - Developer*/



.icon
	color: $color-grey

.icon-xs
	font-size: 24px
	max-width: 24px
	max-height: 24px

.icon-sm
	font-size: 36px
	max-width: 36px
	max-height: 36px

.icon-md
	font-size: 48px
	max-width: 48px
	max-height: 48px

.icon-lg
	font-size: 64px
	max-width: 64px
	max-height: 64px
