//class images

.img-xs
	max-width:  32px
	max-height: 32px

.img-xss
	max-width:  48px
	max-height: 48px

.img-sm
	max-width:  64px
	max-height: 64px

.img-smm
	max-width:  96px
	max-height: 96px

.img-md
	max-width:  128px
	max-height: 128px

.img-mdd
	max-width:  192px
	max-height: 192px

.img-lg
	max-width:  256px
	max-height: 256px

.img-lgg
	max-width:  384px
	max-height: 384px

.img-full
	width: 100%
	max-height: 100%

.img-circle
	border-radius:50%

.img-radius
	border-radius: 5px

.img-bordered
	border: 2px solid #ccc

.img-width-xs
	width: 32px

.img-width-sm
	width: 64px

.img-width-md
	width: 128px

.img-width-mdd
	width: 192px

.img-width-lg
	width: 256px
