/*Classes default for lists "ul", "li", "div".
  Classes divided: Lists divider or list cards*/
/*By Geidson Benício Coelho*/

.list-group
	margin: 0px 0px 15px
	list-style: none
	padding: 0px

	.list-item
		position: relative
		display: block
		width: 100%

	&.divider .list-item
		border-bottom: 1px solid #ccc

	&.panel .list-item
		border: 1px solid #ccc
		padding: 10px
		margin-bottom: 15px

	&.list-border
		> li
			border: 1px solid #aaa

	&.list-border-bottom
		> li
			border-bottom: 1px solid #d1d1d1

	&.list-border-bottom
		> li:last-child
			border-bottom: none

	&.card .list-item
		background: #fff
		margin-bottom: 15px
  	border-radius: 3px
		padding: 15px

	&.list-item .item-full
		width: 100%
		padding: 15px 0px

	&.list-item .item-image
		width: 90px
		float: left

	&.list-item .item-secundary
		padding: 10px 30px 15px 15px
		width: calc(100% - 90px)
		float: left

	&.list-item .item-status
		position: absolute
		top: 25px
		right: 15px

.list-inline
		display: inline

	.list-inline
		> div,
	.list-inline
		> li
			padding-right: 15px
			display: inline-block
			vertical-align: middle
