//Margin bottom

.m0
	margin: 0px

.mb-0
	margin-bottom: 0px

.mb
	margin-bottom: 15px

.mb-xs
	margin-bottom: $size-xs

.mb-sm
	margin-bottom: $size-sm

.mb-md
	margin-bottom: $size-md

.mb-lg
	margin-bottom: $size-lg

.mb-xl
	margin-bottom: $size-xl

//Margin top
.mt
	margin-top: 15px

.mt-xs
	margin-top: $size-xs

.mt-sm
	margin-top: $size-sm

.mt-md
	margin-top: $size-md

.mt-lg
	margin-top: $size-lg

.mt-xl
	margin-top: $size-xl

//Margin right
.mr
	margin-right: 15px

.mr-xs
	margin-right: $size-xs

.mr-sm
	margin-right: $size-sm

.mr-md
	margin-right: $size-md

.mr-lg
	margin-right: $size-lg

.mr-xl
	margin-right: $size-xl

//Margin left
.ml
	margin-left: 15px

.ml-xs
	margin-left: $size-xs

.ml-sm
	margin-left: $size-sm

.ml-md
	margin-left: $size-md

.ml-lg
	margin-left: $size-lg

.ml-xl
	margin-left: $size-xl


.mlr
	margin-left: 15px
	margin-right: 15px

.mlr-xs
	margin-left: $size-xs
	margin-right: $size-xs

.mlr-sm
	margin-left: $size-sm
	margin-right: $size-sm

.mlr-md
	margin-left: $size-md
	margin-right: $size-md

.mlr-lg
	margin-left: $size-lg
	margin-right: $size-lg

.mlr-xl
	margin-left: $size-xl
	margin-right: $size-xl

.no-margin
	margin: 0

.no-pad
	padding: 0

.no-pad-bottom
	padding-bottom: 0

//PADDINGS

.pad-all
	padding: 15px

.pad-all-xs
	padding: $size-xs

.pad-all-sm
	padding: $size-sm

.pad-all-md
	padding: $size-md

.pad-all-lg
	padding: $size-lg

.pad-all-xl
	padding: $size-xl


//PADDING LEFT
.padl
	padding-left: 15px

.padl-xs
	padding-left: $size-xs

.padl-sm
	padding-left: $size-sm

.padl-md
	padding-left: $size-md

.padl-lg
	padding-left: $size-lg

.padl-xl
	padding-left: $size-xl


//PADDING RIGHT
.padr
	padding-right: 15px

.padr-xs
	padding-right: $size-xs

.padr-sm
	padding-right: $size-sm

.padr-md
	padding-right: $size-md

.padr-lg
	padding-right: $size-lg

.padr-xl
	padding-right: $size-xl


//PADDING TOP
.padt
	padding-top: 15px

.padt-xs
	padding-top: $size-xs

.padt-sm
	padding-top: $size-sm

.padt-md
	padding-top: $size-md

.padt-lg
	padding-top: $size-lg

.padt-xl
	padding-top: $size-xl


//PADDING BOTTOM
.padb
	padding-bottom: 15px

.padb-xs
	padding-bottom: $size-xs

.padb-sm
	padding-bottom: $size-sm

.padb-md
	padding-bottom: $size-md

.padb-lg
	padding-bottom: $size-lg

.padb-xl
	padding-bottom: $size-xl
