// Texts
.text-upper
  text-transform: uppercase

.text-sm
  font-size: 0.9em
.text-medium
  font-weight: 600

.text-bold
  font-weight: 600

.text-dark
	color: $color--dark

.text-muted
	color: $color--muted

.text-xxsm
  font-size: 6pt

.text-xs
  font-size: 0.8em

.text-md
  font-size: 1.2em

.text-xmd
  font-size: 1.4em

.text-xxmd
  font-size: 1.6em

.text-lg
  font-size: 1.8em

.text-xlg
  font-size: 2.0em

.text-xxlg
  font-size: 22pt

// Text align
.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right

.wrap
  word-break: break-all

// BR
.br-md, .br
	margin-bottom: 20px

.br-sm
	margin-bottom: 10px

.br-xs
	margin-bottom: 5px

.br-top-xs
	margin-top: 5px

.br-top-sm
	margin-top: 10px

.br-right
	margin-right: 20px

	&-sm
		margin-right: 10px

	&-xs
		margin-right: 5px
