.ck
	cursor: pointer

a:hover
	text-decoration: none

.block
	display:block

.relative
	position: relative

.full
	width: 100%

.h-full
	height: 100%

.scroll-350-h
	max-height: 350px
	overflow-y: auto

.vertical-middle
	vertical-align: middle

	// BR

.br-md, .br
	margin-bottom: 20px
	.br-lg
		margin-bottom: 40px

.br-sm
	margin-bottom: 10px

.br-xs
	margin-bottom: 5px

.br-top-xs
	margin-top: 5px

.br-top-sm
	margin-top: 10px

.br-top
	margin-top: 20px

	&-lg
		margin-top: 40px


.br-right
	margin-right: 20px

	&-sm
		margin-right: 10px

	&-xs
		margin-right: 5px

	&-md
		margin-right: 30px

	&-lg
		margin-right: 40px

.half
	width: 50%

.border
	border: 1px solid #ccc

.border-radius
	border-radius: 5px
