/*
	Neste arquivo é possível atualizar os valores das variáveis
	utilizadas na compilação do Bootstrap.
	Todas as variáveis estão disponível em "resources/lib/bootstrap/styles/variables";
*/
$font-family-serif ?= 'Roboto', serif
$font-family-base ?= $font-family-serif

@import "bootstrap.styl"
